body {
  margin:0px;
  background-color:rgba(25, 22, 41, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:637px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:146px;
  width:1016px;
  height:637px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:168px;
  height:877px;
}
#u581_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:877px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:877px;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_img.mouseOver {
}
#u583.mouseOver {
}
#u583_img.mouseDown {
}
#u583.mouseDown {
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_img.mouseOver {
}
#u584.mouseOver {
}
#u584_img.mouseDown {
}
#u584.mouseDown {
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_img.mouseOver {
}
#u585.mouseOver {
}
#u585_img.mouseDown {
}
#u585.mouseDown {
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u586_img.mouseOver {
}
#u586.mouseOver {
}
#u586_img.mouseDown {
}
#u586.mouseDown {
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_img.mouseOver {
}
#u587.mouseOver {
}
#u587_img.mouseDown {
}
#u587.mouseDown {
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_img.mouseOver {
}
#u588.mouseOver {
}
#u588_img.mouseDown {
}
#u588.mouseDown {
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_img.mouseOver {
}
#u589.mouseOver {
}
#u589_img.mouseDown {
}
#u589.mouseDown {
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_img.mouseOver {
}
#u590.mouseOver {
}
#u590_img.mouseDown {
}
#u590.mouseDown {
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_img.mouseOver {
}
#u591.mouseOver {
}
#u591_img.mouseDown {
}
#u591.mouseDown {
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_img.mouseOver {
}
#u592.mouseOver {
}
#u592_img.mouseDown {
}
#u592.mouseDown {
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:168px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#F2F2F2;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_img.mouseOver {
}
#u593.mouseOver {
}
#u593_img.mouseDown {
}
#u593.mouseDown {
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:327px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:168px;
  height:327px;
  display:flex;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:124px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:124px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#F2F2F2;
  text-align:center;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:21px;
  width:175px;
  height:82px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#F2F2F2;
  text-align:center;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
